<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-apple-pay"
        version="1.0.0">
    <name>ApplePay</name>

    <js-module src="www/applePay.js" name="ApplePay">
        <clobbers target="applePay"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ApplePay">
                <param name="ios-package" value="ApplePay"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ApplePay.h"/>
        <source-file src="src/ios/ApplePay.m"/>
    </platform>
</plugin>
